body{
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    color: #101820ff;
}

.container {
    margin: 2% 10%;
}


/* Cover Section Start */

.cover-area {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: white;
    width: 100%;
    height: 520px;
    background: linear-gradient(to bottom right, #000099 0%, #0066ff 100%);
    border-radius: 30px;
}
.main-title-area {
    width: 500px;
    height: 400px;
    margin: 50px 0 0 80px;
}
.main-title-area h1 {
    margin: 10px 0;
    padding: 0;
    font-size: 60px;
    line-height: 70px;
}
.main-title-area p {
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.watch-butn {
    border: none;
    background-color: purple;
    padding: 15px 25px;
    border-radius: 25px;
    color: white;
}
.watch-butn a {
    font-size: 18px;
    text-decoration: none;
    color: white;
    margin-right: 10px;
}
.cover-image img{
    width: 100%;
    height: 95%;
}
/* Cover Section End */


/* Match Section Start */
.main-div{
    width: 100%;
    display: flex;
    margin-top: 80px;
}
.menu {
    width: 30%;
    margin-right: 1.5%;
    height: 280px;
    border-radius: 10px;
    background-color: black;
}
.menu-item{
    margin-top: 35px;
}
.menu-item .menu-button{
    width: 80%;
    height: 30%;
    padding: 15px 30px;
    margin: 10px 25px;
    border-radius: 5px;
}
.menu-item .menu-button a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: bold;
}
.menu-item .menu-button-3{
    width: 80%;
    height: 30%;
    padding: 15px 30px;
    margin: 10px 25px;
    background-color: purple;
    border-radius: 5px;
}
.menu-item .menu-button-3 a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: bold;
}
.grid-item {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5% 2%;
}
.blogs-item{
    border: 1px solid lightgray;
    border-radius: 10px;
    height: 190px;
}
.flag-item{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.flag-item h1{
    padding: 0 10px;
    margin: 0;
}
.flag-item img{
    width: 85px;
    height: 50px;
}
.flag-item2{
    text-align: center;
    margin-top: 0;
}
.flag-item2 h4{
    margin-top: 10px;
}
.flag-item2 h5{
    margin: 0;
}
/* Match Section End */


/* footer section Start */

footer h1{
    color: white;
    text-align: center;
    padding-top: 80px;
}
footer hr{
    margin: 2% 10%;
    color: gray;
}
footer {
    height: 350px;
    margin-top: 130px;
    background: linear-gradient(to bottom right, #000099 0%, #0066ff 100%);
}
.footer-item{
    margin: 0 10%;
    text-align: center;
    padding-top: 20px;
}
.footer-item a{
    text-decoration: none;
    color: lightgray;
    font-size: 14px;
    padding: 0 20px; 
}
.footer-icon{
    margin: 2% 10%;
    text-align: center;
    color: white;
}
.footer-icon i{
    padding: 20px;
}
/* footer section End */